@{
    //Common Footer
}

<style>
    .footer-container {
        font-size: 1.25rem; /* Adjust the font size as needed */
        text-align: center; /* Center align the footer text */
    }
</style>

<footer class="border-top footer text-muted">
    <div class="container footer-container">
        &copy; 2024 - COMP2139_Labs - <a asp-area="" asp-controller="Home" asp-action="About">Oscar Piedrasanta Diaz</a>
    </div>
</footer>
