@{

    var Name = "Oscar Piedrasanta Diaz";
    var studentID = "101061602";
    var courseCode = "COMP2139";
}

<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to my about page</title>
    </head>
    <body>
        <h1>About Me</h1>
        <p> Name: @Name</p>
        <p> ID: @studentID</p>
        <p> Course Code: @courseCode</p>

    </body>
</html>